@font-face 
{
    font-family: 'aliceregular';
    src: url('police/alice-regular-webfont.eot');
    src: url('police/alice-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/alice-regular-webfont.woff2') format('woff2'),
         url('police/alice-regular-webfont.woff') format('woff'),
         url('police/alice-regular-webfont.ttf') format('truetype'),
         url('police/alice-regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'barrioregular';
    src: url('police/barrio-regular-webfont.eot');
    src: url('police/barrio-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/barrio-regular-webfont.woff2') format('woff2'),
         url('police/barrio-regular-webfont.woff') format('woff'),
         url('police/barrio-regular-webfont.ttf') format('truetype'),
         url('police/barrio-regular-webfont.svg#barrioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    background-image: url(http://www.mobilopix.com/_data/i/upload/2014/12/03/20141203233526-5ac1a98c-me.jpg);
}
html
{
    font-family:'barrioregular', Georgia, 'Times New Roman', Times, serif;
}
ul
{
    color: floralwhite;
    font-size: x-large;
    font-weight: bold;
}

nav
{
background-color:darkslategray;
color: floralwhite;
}

input
{
    color: floralwhite;
    font-size: larger;
    font-weight: bold;
}

i
{
    color: floralwhite;
}

h1
{
    color: floralwhite;
}

a:hover + p
{ 
    display: block; 
    color: floralwhite; 
    font-size: 25px; 
}

p
{
    display: none;
}
#fond
{
    background-image: url(https://images6.alphacoders.com/590/thumb-1920-590413.jpg);
}

legend
{
    color: floralwhite;
}